<section class="bg-black py-12 sm:py-16 lg:py-20">
<p class="max-w-none font-sans text-center max-w-5xl text-5xl font-bold leading-loose text-gray-900 dark:text-white">
Te-ai întrebat…

„Cum deschid o firmă?”,
„Unde găsesc un contabil care nu cere documente?”,
„Pot să fac modificări fără să pierd o zi la Registru?”,
„Cum închid o firmă fără să mă blochez în acte?”.</br>
Dacă ai trecut prin asta, Regnet este exact ce-ți trebuie.
</p>
</section>